/* styles.css */

.footer {
  display: flex;
  padding: 20px;
  background-color: #f0f0f0;
  margin-top: 50px;
  flex-wrap: wrap;
}

.left-section,
.right-section,
.third-section {
  flex-basis: 100%; /* Initially, each section occupies the full width */
  box-sizing: border-box;
}

/* Media Query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
  .left-section,
  .right-section,
  .third-section {
    flex-basis: 100%; /* On smaller screens, each section takes up the full width */
  }

  .third-section {
    margin-top: 20px; /* Reduce the top margin on smaller screens */
  }
}

/* Media Query for screens with a minimum width of 769px and a maximum width of 1200px */
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .left-section,
  .right-section {
    flex-basis: 50%; /* On medium-sized screens, each section takes up 50% of the width */
  }

  .third-section {
    flex-basis: 100%; /* On medium-sized screens, the third section takes up the full width */
    margin-top: 20px; /* Reduce the top margin on medium-sized screens */
  }
}

/* Common styles for all sections */
.left-section,
.right-section,
.third-section {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Add a gap of 20px between each item */
  align-items: center; /* Align items to the center on all screen sizes */
}

/* Specific styles for the contactus and download-app sections */
.contactus p,
.download-app p {
  font-weight: bold;
  text-align: center; /* Center the text within these sections */
}

/* Specific styles for the social-links and app-links sections */
.social-links,
.app-links {
  display: flex;
  justify-content: center; /* Center the icons or logos */
  gap: 20px; /* Add a gap of 20px between each item */
}

.social-links a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

.app-links img {
  width: 80px;
}
