.footer {
  display: flex;
  padding: 20px;
  background-color: #f0f0f0;
  margin-top: 50px;
  flex-wrap: wrap;
}

.left-section,
.right-section,
.third-section {
  flex-basis: 50%;
  box-sizing: border-box;
}

.left-section,
.right-section {
  flex-grow: 1;
  flex-shrink: 1;
}
.third-section {
  margin-top: 50px;
  flex-grow: 2;
  flex-shrink: 2;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align items to the left */
  gap: 20px; /* Add a gap of 20px between each item */
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the right */
  gap: 20px; /* Add a gap of 20px between each item */
}

.contactus {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items to the right */
  gap: 20px; /* Add a gap of 20px between each item */
}

.download-app {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items to the right */
  gap: 20px; /* Add a gap of 20px between each item */
}

.download-app p {
  font-weight: bold;
  align-items: center;
}

.contactus p {
  font-weight: bold;
  align-items: center;
}

.social-links {
  display: flex;

  gap: 20px; /* Add a gap of 20px between each icon */
}

.app-links {
  display: flex;
  gap: 20px; /* Add a gap of 20px between each logo */
}

.social-links a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  margin: 0 10px;
}

.app-links img {
  width: 80px;
  margin: 0 10px;
}

.social-links a:hover {
  opacity: 0.8;
}
